appnope
asgiref
asttokens
backcall
certifi
cfscrape
chardet
charset-normalizer
decorator
Django
django-cors-headers
djangorestframework
executing
idna
ipython
ipython-genutils
jedi
matplotlib-inline
oauthlib
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
pure-eval
Pygments
pytz
PyYAML
requests
requests-oauthlib
requests-toolbelt
responses
six
sqlparse
stack-data
traitlets
types-PyYAML
urllib3
wcwidth
